body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #d9d9bc; 
    color: #fff;
    text-align: center;
    padding: 2em 0;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.1);
    
}

h2 {
    color: #ffffff;
}

p {
    color: #ffffff;
}   

header .cart-btn {
    text-align: right;
    font-size: 18px;
    position: absolute;
    right: 20px;
    top: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 15px;
}

#produtos, #cta, #contato {
    padding: 2em;
    
}

.carousel-container {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    justify-content: flex-start; /* Adiciona esta linha */
}

.produto {
    min-width: 200px;
    margin: 1em;
    text-align: center;
}

.produto img {
    width: 38%;
    height: auto;
}

button.bgblc {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

button.bgblc:hover {
    background-color: #444;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 1em;
    cursor: pointer;
    z-index: 1;
}

button.prev {
    left: 0;
}

button.next {
    right: 0;
}

button {
    
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #444; /* Azul leve */
}

footer {
    background-color: #cfcfb1;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    box-shadow: 0 4px 8px 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2em;
    border-left: 18px solid #cfcfb1; /* Adiciona uma borda do lado esquerdo */
    text-align: left;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    border-radius: 5px;
    cursor: pointer;
    background-color: #111;
    color: white;
    border: none;
    
    padding: 10px 11px 8px 10px;
}

.openbtn:hover {
    background-color: #444;
}

/* Modal do Carrinho */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#acoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    
}

#acoes .menu-btn {
    order: 1;
}

#acoes .btPesquisa {
    order: 2;
}

#acoes .cart-btn {
    order: 3;
}


.btPesquisa {
    flex: 1;
    display: flex;
    justify-content: center;
}



.tnh-button {
    display:block;
    width:180px;
    color:#fff
}

.tnh-sign-up {
    flex-grow:1
}

.tnh-button {
    display:block;
    flex-shrink:0;
    height:36px;
    padding:0 24px;
    outline:none;
    border-radius:9999px;
    background-color:black;
    color:#fff!important;
    text-align:center;
    font-weight:600;
    font-size:16px;
    line-height:36px;
    cursor:pointer
}

.tnh-sign-up {
    min-width:120px;
    color:#fff
}

.tnh-button:active {
    text-decoration:none;
    transform:scale(.9)
}

.tnh-button:hover {
    background-color:#444
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-bar-input {
    padding: 0.5em 0.5em 1.1em 3em; /* Espaço para o ícone */
    border: 2px solid #ccc;
    border-radius: 5px;
}

.search-icon {
    position: absolute;
    top: 0.06em;
    color: #888;
    padding: 9px 8px 5px 9px;
    border-radius: 5px;
    cursor: pointer;
}

.search-icon:hover {
    background-color: #444;
}



.bgblc {
    background-color: black;
    color: #fff;
}

.tnh-icon {
    color:#ddd;
    font-size:40px
}

.tnh-icon {
    display:inline-block;
    width:1em;
    height:1em;
    margin-right:6px;
    overflow:hidden;
    vertical-align:-.15em;
    fill:currentColor
}

.tnh-icon {
    flex-shrink:0;
    font-size:24px
}

.tnh-icon {
    margin-bottom:5px;
    font-size:40px;
    line-height:20px
}

.tnh-icon {
    margin-bottom:14px;
    font-size:40px;
    line-height:40px
}

.tnh-icon {
    margin-bottom:14px;
    font-size:40px;
    line-height:40px
}

.tnh-icon {
    font-size:24px
}

.tnh-icon {
    font-size:24px
}

.tnh-icon {
    margin-right:0;
    font-size:24px
}

.tnh-icon:last-child {
    margin-right:0
}

/* Estilo para a fonte e negrito */
.highlighted-text {
    font-family: 'Arial', sans-serif; /* Troque para a fonte desejada */
    font-weight: bold; /* Adiciona negrito */
    font-size: 1.2em; /* Aumenta o tamanho da fonte */
    color: #333; /* Cor do texto */
}

/* Estilo para o contêiner */
.ds-dot-element.shade-placeholder-item.util-ellipsis {
    padding: 10px;
    border-radius: 5px; /* Bordas arredondadas */
}

#contato {
    padding: 1em;
    text-align: center;
    background-color: #f9f9f9;
    border: 2px solid black;
    border-radius: 10px;
    max-width: 80%;
    margin: 2em auto;
}


.formContato {
    display: inline-block;
    text-align: left;
    
    padding: 2vw;
    border-radius: 10px;
    background-color: #fff;
    max-width: 80%;
    width: 80%;
}

.formContato label {
    display: flex;
    margin-bottom: 0.8vw;
    font-weight: bold;
}

.formContatoItens {
    width: calc(100% - 2vw);
    padding: 1vw;
    margin-bottom: 2vw;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.formContatoItens:focus {
    border-color: black;
    outline: none;
}

#social {
    padding: 1em;
    text-align: center;
    background-color: #f9f9f9;
    border: 2px solid black;
    border-radius: 10px;
    max-width: 80%;
    margin: 2em auto;
}

#social h3 {
    margin-bottom: 1em;
    color: black;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    
}

.social-icons a {
    display: inline-block;
    width: 50px;
    height: 50px;
}

.social-icons img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.1);
}

/* Responsividade */
@media (max-width: 600px) {
    .social-icons {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }
}


#mapa {
    padding: 1em;
    text-align: center;
    background-color: #f9f9f9;
    border: 2px solid black;
    border-radius: 10px;
    max-width: 80%;
    margin: 2em auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.map-container {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.divBackgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    flex-wrap: wrap;
}

.divBackgroundImage img {
    width: 33.33%; /* Ajuste conforme necessário para o efeito desejado */
    height: auto;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Adiciona sombreado entre as imagens */
}

.divBackgroundImage img:nth-child(1),
.divBackgroundImage img:nth-child(3) {
    filter: blur(5px); /* Imagens 1 e 3 borradas */
}

.divBackgroundImage img:nth-child(2) {
    filter: none; /* Imagem 2 mais nítida */
}

#biografia {
    padding: 1em;
    text-align: center;
    background-color: #f9f9f9;
    border: 2px solid black;
    border-radius: 10px;
    max-width: 80%;
    margin: 2em auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-image: url('img/musculacao.jpg'), url('img/musculacao.jpg'), url('img/musculacao.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
    height: 130vh; /* Aumenta a altura da seção */
}

.cta {
    margin-bottom: 2em;
    padding: 1em; /* Adiciona padding para aumentar a altura dos elementos internos */
}

.cta h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 0.5em;
}

.cta p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 1em;
    line-height: 1.5;
}

.cta button.bgblc {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s, transform 0.3s;
}

.cta button.bgblc:hover {
    background-color: #444;
    transform: scale(1.05);
}

/* Responsividade */
@media (max-width: 600px) {
    #biografia {
        padding: 1em;
        max-width: 95%;
    }

    .cta h2 {
        font-size: 1.5em;
    }

    .cta p {
        font-size: 1em;
    }

    .cta button.bgblc {
        font-size: 1em;
    }
}